<div class="user-auth">
    <div class="user-signUp" *ngIf="!showLogin">
        <h1>User Sign Up</h1>

        <form #userForm="ngForm" (ngSubmit)="signUp(userForm.value)" class="form">

            <input class="input" type="text" ngModel name="name" placeholder="Enter Name" />
            <input class="input" type="password" ngModel name="password" placeholder="Enter Password" />
            <input class="input" type="text" ngModel name="email" placeholder="Enter Email" />
            <button class="form-btn">SignUp</button>
            <p>Already have an account?<a class="auth-toggle-link" (click)="openLogin()"> Click to Login</a></p>
        </form>
    </div>

    <div class="user-login" *ngIf="showLogin">
        <h1>User Login</h1>

        <form #userForm="ngForm" (ngSubmit)="login(userForm.value)" class="form">

            <input class="input" type="text" ngModel name="email" placeholder="Enter Email" />
            <input class="input" type="password" ngModel name="password" placeholder="Enter Password" />
            <button class="form-btn">Login</button>
            <p>Don't have an account??<a class="auth-toggle-link" (click)="openSignUp()"> Click to SignUp</a></p>
        </form>

    </div>

</div>