<div class="add-product">
    <h1 class="product">Update Product</h1>
    <p class="message">{{productMessage}}</p>
    <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="form" >
      <input class="input" type="text" name="name" placeholder="Enter Product Name" ngModel="{{productData?.name}}" />
      <input class="input" type="text" name="price" placeholder="Enter Product Price" ngModel="{{productData?.price}}" />
      <input class="input" type="text" name="color" placeholder="Enter Product Color" ngModel ="{{productData?.color}}"/>
      <input class="input" type="text" name="category" placeholder="Enter Product Category" ngModel="{{productData?.category}}" />
      <textarea class="input" type="text" name="description" placeholder="Enter Product Description" ngModel="{{productData?.description}}"></textarea>
      <input class="input" type="text" name="image" placeholder="Enter Product Image Url" ngModel="{{productData?.image}}" />
      <button class="form-btn">Update Product</button>
  </form>

  </div>

