<div class="product-list">
    <h1>Product List</h1>
    <p class="message">{{productMessage}}</p>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Color</th>
                <th>Category</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody *ngFor="let product of productList">

            <tr>
                <td><img src="{{product.image}}"></td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.color}}</td>
                <td>{{product.category}}</td>
                <td>{{product.description}}</td>
                <td>
                    <fa-icon [icon]="icon" (click)="deleteProduct(product.id)"></fa-icon>
                    <a class="update-product" routerLink="/seller-update-product/{{product.id}}">
                        <fa-icon [icon]="Editicon"></fa-icon>
                    </a>
                </td>
            </tr>

        </tbody>
    </table>

</div>